!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %title Weekly Digest
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      /**
       * Google webfonts. Recommended to include the .woff version for cross-client compatibility.
       */
      @media screen {
        @font-face {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 400;
          src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
        }

        @font-face {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 700;
          src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
        }
      }

      /**
       * Avoid browser level font resizing.
       * 1. Windows Mobile
       * 2. iOS / OSX
       */
      body,
      table,
      td,
      a {
        -ms-text-size-adjust: 100%; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
      }

      /**
       * Remove extra space added to tables and cells in Outlook.
       */
      table,
      td {
        mso-table-rspace: 0pt;
        mso-table-lspace: 0pt;
      }

      /**
       * Better fluid images in Internet Explorer.
       */
      img {
        -ms-interpolation-mode: bicubic;
      }

      /**
       * Remove blue links for iOS devices.
       */
      a[x-apple-data-detectors] {
        font-family: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
        color: inherit !important;
        text-decoration: none !important;
      }

      /**
       * Fix centering issues in Android 4.4.
       */
      div[style*="margin: 16px 0;"] {
        margin: 0 !important;
      }

      body {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
      }

      /**
       * Collapse table borders to avoid space between cells.
       */
      table {
        border-collapse: collapse !important;
      }

      a {
        color: #1a82e2;
      }

      img {
        height: auto;
        line-height: 100%;
        text-decoration: none;
        border: 0;
        outline: none;
      }

      pre {
        font-weight: bold;
      }

      span {
        display: block;
        padding: 4px 2px;
        border: 1px solid #999;
        border-radius: 5px;
        background-color: #555;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }

  %body{:style => "background-color: #e9ecef;"}
    -# preheader
    .preheader{:style => "display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;"}
      #{@date.strftime("%m月 %d日 ")} の「いいね」数ランキング
    -# body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      -# hero
      %tr
        %td{:align => "center", :bgcolor => "#e9ecef"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            %tr
              %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 36px 24px 0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; border-top: 3px solid #d4dadf;"}
                = "#{@user.user_name} 様"
                %h1{:style => "margin: 0; font-size: 24px; font-weight: 700; letter-spacing: -1px; line-height: 48px;"} 昨日の「いいね」数ランキング
      -# copy block
      %tr
        %td{:align => "center", :bgcolor => "#e9ecef"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            -# copy
            %tr
              %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-radius: 0 0 2px 2px;"}
                %p{:style => "margin: 0;"} #{@date.strftime("%m月 %d日 ")} の「いいね」数ランキングが10位の投稿を通知します！
            - @h_ranking.each do |post, no_like_count|
              -# list
              %tr
                %td{:align => "left", :bgcolor => "#ffffff", :style => "padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;"}
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tr
                      %td{:align => "left", :bgcolor => "#ffffff", :valign => "top", :width => "18%"}
                        -# 順位（いいね数）
                        %a{href: "#{post_url(post.id)}", style: 'text-decoration: none;'}
                          %span{ :style => "#{"background-color: " + {1 => '#E5BF00', 2 => '#9C9C9C', 3 => '#CD7F32'}[no_like_count[0]] if no_like_count[0] <= 3}" }
                            #{no_like_count[0]}位（#{no_like_count[1]}）
                        -# ユーザ名
                        %p{:style => "margin: 0;"}
                          #{post.user.user_name}
                      %td{:align => "left", :bgcolor => "#ffffff", :style => "padding-left: 12px;", :valign => "top"}
                        -# 投稿内容
                        %pre{:style => "margin: 0;"} #{post.content}
      -# footer
      %tr
        %td{:align => "center", :bgcolor => "#e9ecef", :style => "padding: 24px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            / start permission
            %tr
              %td{:align => "center", :bgcolor => "#e9ecef", :style => "padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;"}
                %p{:style => "margin: 0;"}
                  = link_to 'mini-blog-ex', root_url
