- if current_user.liking_post?(post)
  = form_with model: current_user.likes.find_by(post_id: post.id), method: :delete, remote: true do |f|
    = f.hidden_field :post_id, value: post.id, id: ''
    = f.submit 'いいね中', class: 'like-now'
- else
  = form_with model: current_user.likes.build, remote: true do |f|
    = f.hidden_field :post_id, value: post.id, id: ''
    = f.submit 'いいね', class: 'liked'
-# いいね件数
- if post.likes.count > 0
  %button.btn.btn-primary.btn-sm{ type: 'button', value: post.id, 'data-toggle': 'modal', 'data-target': '#likedUserDialog' }
    = post.likes.count
