= javascript_include_tag 'timeline'

-# 自動スクロール
.scroll-list.jscroll
  - @posts.each do |post|
    .alert.alert-primary.border-primary
      %span
        - if post.user.present?
          -# ユーザ名
          %strong
            = link_to post.user.user_name, user_path(post.user_id)
          -# フォローボタン
          %span{class: "follow_button_#{post.user_id}", style: "display:inline-flex"}
            = render 'user_relations/follow_button', user: post.user
        = link_to post.created_at.strftime('%Y/%m/%d %H:%M'), post_path(post.id)
      %pre.lead{style: 'background-color: transparent;'}
        = post.content
      - if post.picture.present?
        %div
          = link_to image_tag(post.picture.thumb.url), post_path(post.id), target: "_blank"
      -# いいねボタン
      %span{class: "like_button_#{post.id}", style: "display:inline-flex"}
        = render 'likes/like_button', post: post
      -# コメントボタン
      %span{class: "comment_button_#{post.id}", style: "display:inline-flex"}
        = render 'comments/comment_button', {post: post, open: false}
      -# コメントライン
      %div{class: "comment_line_#{post.id}"}
        = render 'comments/comment_line', {post: post, open: false}
  = paginate @posts

-# いいねダイアログ
= render 'likes/like_dialog'
